<div class="container">
    <div class="navbar navbar-expand-lg navbar-blue bg-blue">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="csequence">Sequence</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="header">Gene ID Table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="about">Ensembl ID</a>
            </li>
        </ul>
    </div>
    <router-outlet></router-outlet>
</div>

<!--
    <app-header></app-header>
-->